:root{
  --standart-seat:#03a9f4;
  --seat-vip:#bbc34a;
  --booked-seat:#ccc;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto" ,"Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: darkcyan;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
}

.devider{
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#aaa;
  border: none;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}



.ticket-form{
 background-color: #333;
 color: #fff;
 padding: 15px;
 padding-left: 25px;
 padding-right: 25px;
 border-radius: 5px;
 box-shadow: 0 10px 23px rgba(0, 0, 0, 0.4);
 width: 100%;
 max-width: 800px;
 height: auto;

}

.movie-info{
  position: relative;
  z-index: 1;
  padding-right: 50px;
}

.movie-info__titel-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.movie-info-title{
  margin: 0;
  margin-right: 20px;
  line-height: 1.2px;
}

.movie-info-badge{
  display: inline-block;
  background-color:#666;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 13px;
  padding: 4px;
}

.movie-info__cinema-name{
  margin-top: 0;
  color: #aaa;
}

.ticket-form-close{
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  margin: 0;
  background-size: 50%;
  background-image:url(../images/close.png);
  background-position: center center;
  background-repeat:no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;

}

.ticket-form-close:hover,
.ticket-form-close:focus{
  opacity: 1;
}


.cinema{
  padding-left: 20px;
  padding-right: 20px;
}


.cinema-screen{
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

}

.cinema-poster{
  width: 100%;
  max-width: 650px;
  height: 300px;
  border-radius: 5px;
  box-shadow:0 50px 50px -30px rgba(255, 255, 255, 0.5);
  transform-style: preserve-3d;
  transform-origin: center top;
  transform: perspective(2000px) rotateX(-65deg);

}

.cinema-seats{
  margin-bottom: -20px;
  transform-style: preserve-3d;
  transform-origin: 50% 0;
  transform: perspective(2000px) rotateX(45deg);

}



.cinema-seats-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 30px;
  align-items: center;
}

.last-one {
  margin-bottom:0;
}


.cinema-seats-list::before,
.cinema-seats-list::after{
color: #fff;
font-size: 13px;

}

.cinema-seats-list:first-child::before,
.cinema-seats-list:first-child::after{
content: '1';
}

.cinema-seats-list:nth-child(2)::before,
.cinema-seats-list:nth-child(2)::after{
  content: '2';
}

.cinema-seats-list:nth-child(3)::before,
.cinema-seats-list:nth-child(3)::after{
  content: '3';
}

.cinema-seats-list:nth-child(4)::before,
.cinema-seats-list:nth-child(4)::after{
  content: '4';
}

.cinema-seat{
  transform: translateZ(10vmax);
}



.seat {
  display: block;
  cursor: pointer;
}

.seat-checkbox{


}

/* CHECKNOXSES */

/* oddiy holat */

.seat-control::before{
  position: absolute;
  z-index: 1;
content: "";
top: -5px;
right: -5px;
bottom: -5px;
left: -5px;
border: 1px dotted var(--standart-seat);
border-radius: 50%;
transform: scale(0);
opacity: 0;
transition: opacity 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.seat-vip .seat-control::before{
  border: 1px dotted var(--seat-vip);
}

.seat-control{
  position: relative;
display: flex;
width: 25px;
height: 25px;
background-color:var(--standart-seat);
border-radius: 50%;
font-size: 14px;
justify-content: center;
align-items: center;
}

.seat-vip .seat-control{
  background-color: var(--seat-vip);
}
.seat-number {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* hover holati */
.seat:hover .seat-control::before{
   border: 1px solid var(--standart-seat);
   transform: scale(1);
   opacity: 1;
}

.seat-vip:hover .seat-control::before{
  border: 1px solid var(--seat-vip);
  transform: scale(1);
  opacity: 1;
}

.seat:hover .seat-control .seat-number{
  opacity: 1;
}
/* active holati */

.seat:active{
  opacity: 0.5;
}

.seat-checkbox:focus + .seat-control::before{
  transform: scale(1);
  opacity: 1;
}
.seat-checkbox:focus + .seat-control .seat-number{
  opacity: 1;
}

/* checked holati */

.seat-checkbox:checked + .seat-control::before{
border: 3px solid var(--standart-seat);
transform: scale(1);
opacity: 1;
}

.seat-vip .seat-checkbox:checked + .seat-control::before{
  border: 3px solid var(--seat-vip);
  }


.seat-checkbox:checked + .seat-control .seat-number{
  opacity: 1;
}

/* disabeled holati */

.seat-checkbox:disabled + .seat-control::before{
  transform: scale(0);
  opacity: 0;

}

.seat-checkbox:disabled + .seat-control{
  background-color: var(--booked-seat);
}

.seat-checkbox:disabled + .seat-control::before{
transform: scale(10);
opacity: 0;
}

.seat-checkbox:disabled + .seat-control .seat-number{
  opacity: 1;
  color: #777;
}

.ticket-form-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SEATS-PRICES  */

.seats-prices {
 display: flex;
 list-style-type: none;
 margin: 0;
 padding: 0;
 color: #ddd;
}
.seat-price {
  display: flex;
  margin-right: 25px;
}

.seat-price::before{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: var(--standart-seat);
  content: '';
}

.seat-price-vip::before{
background-color: var(--seat-vip);
}

.seat-price-booked::before{
  background-color: var(--booked-seat);
}

.ticket-form-submit{
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color:var(--standart-seat);
  border:none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

}

.ticket-form-submit:hover{
  opacity: 0.8;
}

.ticket-form-submit:active{
  opacity: 0.5;
}